<!DOCTYPE html>

<head><meta charset="utf-8">
	<title>FreeLancer</title>
	<link href="css/22.css?ph=6e16e03566" rel="stylesheet">
    <link href="css/3c.css?ph=6e16e03566" rel="stylesheet">
	<link rel="stylesheet" href="css/files/12/12i/12ii2pf9bb.css?ph=6e16e03566" data-wnd_color_scheme_file="">
	<link rel="stylesheet" href="css/files/1c/1cz/1czw4kf9bb.css?ph=6e16e03566" data-wnd_additive_color_file="">
	<link rel="stylesheet" href="css/files/1o/1on/1onkjvf9bb.css?ph=6e16e03566" data-wnd_typography_file="">

<meta property="og:url" content="index.html">
<body class="l layout eshop-hide short-content wt-home ac-s ac-i l-boxed b-btn-sq b-btn-s-l b-btn-dn b-btn-bw-1 img-d-n img-t-o img-h-z line-solid b-e-ds lbox-d c-s-s hn-tbg  wnd-fe">
	<div class="wnd-page l-page cs-dblue ac-beige">

		<div class="l-bg cf sc-b">
			<div class="s-bg-l">

			</div>
			<div class="s-bg-l s-bg-lo"></div>
		</div>

		<header class="l-h cf">
			<div class="sw section-wrapper cf">
				<div class="sw-c section-wrapper-content cf"><section class="s s-hn s-hn-default wnd-mt-classic wnd-na-c cf sc-dt  wnd-w-default wnd-nh-m hn-no-bg  hm-claims menu-delimiters-doublepipe">
					<div class="s-w cf">
						<div class="s-o cf">

							<div class="s-bg cf">
								<div class="s-bg-l">

								</div>
								<div class="s-bg-l s-bg-lo"></div>
							</div>

							<div class="h-w h-f wnd-fixed cf">

								<div class="n-l initial-state">
									<div class="s-c">
										<div class="logo b logo-default wnd-font-size-90 playfair-display b-ls-m">
											<div class="logo-content">
												<div class="logo-br"></div>
												<div class="logo-text-wrapper">
													<div class="logo-text">
														<span class="logo-text-cell">TASK MANAGER APP</span>
													</div>
												</div>

											</div>
										</div>

										<div class="cart-and-mobile">


											<div id="menu-mobile">
												<a href="#" id="menu-submit"><span></span>Menu</a>
											</div>
										</div>

										<div id="menu-slider">
											<div id="menu-block">
												<nav id="menu" data-align="centered" class="centered" data-type="sliding" role="navigation"><div class="menu-font menu-wrapper">
													<a href="#" class="menu-close close-menu" rel="nofollow">
														<span>Close Menu</span>
													</a>
													<ul class="level-1">
														<li class="wnd-active   wnd-homepage">
															<a class="menu-item" href="index.html"><span class="menu-item-text">Homepage</span></a>

														</li><li>
														<a class="menu-item" href="index.html"><span class="menu-item-text">About us</span></a>

													</li><li>
														<a class="menu-item" href="index.html"><span class="menu-item-text">Pricelist</span></a>

													</li><li>
														<a class="menu-item" href="index.html"><span class="menu-item-text">Contact</span></a>

													</li><li>
														<a class="menu-item" href="index.html"><span class="menu-item-text">Blog</span></a>

													</li>
													</ul>
													<span class="more-text">More</span>
												</div></nav>
											</div>
										</div>

									</div>
								</div>

							</div>

						</div>
					</div>
				</section></div>
			</div>
		</header>

		<main class="l-m cf" role="main">
			<div class="sw section-wrapper cf">
				<section class="s s-hm s-hm-claims cf sc-m wnd-background-image wnd-w-default wnd-s-normal wnd-h-full wnd-nh-m wnd-p-cc hn-no-bg hn-default">
					<div class="s-w cf">
						<div class="s-o cf">
							<div class="s-bg">
								<div class="s-bg-l wnd-background-image fx-none bgatt-scroll bgpos-top-center" style="background-image:url('../d1di2lzuh97fh2.cloudfront.net/files/1f/1fy/450/1fyx11f9bb.jpg?ph=6e16e03566')">

								</div>
								<div class="s-bg-l s-bg-lo overlay-black-light"></div>
							</div>
							<div class="h-c s-c">
								<div class="h-c-b">
									<div class="h-c-b-i">
										<h1>
											<div class="claim cf"><span class="sit b claim-borders claim-nb playfair-display claim-72">
					<span class="sit-w"><span class="sit-c">{% block head %} {% endblock %}</span></span>
									</span></div>
										</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="s s-basic cf sc-w  wnd-w-default wnd-s-higher wnd-h-auto">




					<div class="s-w cf">
						<div class="s-o cf">
							<div class="s-bg cf">
								<div class="s-bg-l">{% block body %}  {% endblock %}</div>
							</div>
						</div>
					</div>




				</section>
			</div>

		</main>
		</div>
	</div>
</body>
</html>
